# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/

# Tailwind / PostCSS
.postcss-cache/

# Vite
.vite/

# Temp FFmpeg folder
tmp/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
